/* ========================================================================
   Стили шрифтов / Font styles
======================================================================== */
@font-face {
	font-family: 'AvenirNextCyr-Light';
	src:  url('../fonts/AvenirNextCyr-Light.eot?3ec9kc');
	src:  url('../fonts/AvenirNextCyr-Light.eot?3ec9kc#iefix') format('embedded-opentype'),
	url('../fonts/AvenirNextCyr-Light.ttf?3ec9kc') format('truetype'),
	url('../fonts/AvenirNextCyr-Light.woff?3ec9kc') format('woff'),
	url('../fonts/AvenirNextCyr-Light.svg?3ec9kc#iconfont') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AvenirNextCyr-Bold';
	src:  url('../fonts/AvenirNextCyr-Bold.eot?3ec9kc');
	src:  url('../fonts/AvenirNextCyr-Bold.eot?3ec9kc#iefix') format('embedded-opentype'),
	url('../fonts/AvenirNextCyr-Bold.ttf?3ec9kc') format('truetype'),
	url('../fonts/AvenirNextCyr-Bold.woff?3ec9kc') format('woff'),
	url('../fonts/AvenirNextCyr-Bold.svg?3ec9kc#iconfont') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Vollkorn-Bold';
	src:  url('../fonts/Vollkorn-Bold.eot?3ec9kc');
	src:  url('../fonts/Vollkorn-Bold.eot?3ec9kc#iefix') format('embedded-opentype'),
	url('../fonts/Vollkorn-Bold.ttf?3ec9kc') format('truetype'),
	url('../fonts/Vollkorn-Bold.woff?3ec9kc') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'iconfont';
    src:  url('../fonts/iconfont.eot?v6r75n');
    src:  url('../fonts/iconfont.eot?v6r75n#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.ttf?3ec9kc') format('truetype'),
    url('../fonts/iconfont.woff?3ec9kc') format('woff'),
    url('../fonts/iconfont.svg?3ec9kc#iconfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'iconfont', serif !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-cross-out:before {
	content: "\e909";
}
.icon-musica-searcher:before {
	content: "\e908";
}
.icon-boards:before {
	content: "\e900";
}
.icon-donation:before {
	content: "\e901";
}
.icon-guarantee:before {
	content: "\e902";
}
.icon-human-resources:before {
	content: "\e903";
}
.icon-left-arrow:before {
	content: "\e904";
}
.icon-phone-call:before {
	content: "\e905";
}
.icon-right-arrow:before {
	content: "\e906";
}
.icon-warehouse:before {
	content: "\e907";
}
/* ========================================================================
   Общие стили / Common styles
======================================================================== */
body{
    font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
	color: #636363;
}
a, a:hover, a:focus{
	color: #4e68b2;
	text-decoration: none;
	transition: all 0.2s ease;
}
.block_container{
    padding: 0 60px;
    width: 100%;
}
.text-small{
	font-size: 12px;
	line-height: 14px;
}
.h1, .h2, .h3, h1, h2, h3{
	font-weight: 700;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0;
}
.text-medium{
    font-size: 14px;
    line-height: 20px;
}
.text-large{
    font-size: 15px;
    line-height: 22px;
}
h6,
.h6{
    font-size: 17px;
	line-height: 22px;
}
h5,
.h5{
    font-size: 18px;
	line-height: 24px;
}
h4,
.h4{
    font-size: 19px;
	line-height: 26px;
}
h3,
.h3,
.title{
    font-size: 20px;
	line-height: 30px;
}
h2,
.h2{
    font-size: 28px;
	line-height: 40px;
}
h1,
.h1,
.page-title{
	font-size: 30px;
	line-height: 44px;
}
.page-title,
.page-title-large,
.slider-title{
    color: #2d2d2d;
    font-family: 'Vollkorn-Bold', serif;
	text-transform: uppercase;
}
.page-title-large{
	font-size: 40px;
	line-height: 60px;
}
.slider-title{
	font-size: 50px;
	line-height: 60px;
}
.text-vollkorn{
	font-family: 'Vollkorn-Bold', serif;
}
.text-avenir{
	font-family: 'AvenirNextCyr-Light', serif;
}
.text-avenir-bold{
	font-family: 'AvenirNextCyr-Bold', serif;
}
.text-contrast,
.text-contrast:focus{
	color: #fff;
}
a.text-contrast:hover{
	color: #fff;
}
.text-muted,
.text-muted:focus{
    color: #9a9a9a;
}
.text-black,
.text-black:focus{
    color: #000;
}
.text-dark,
.text-dark:focus{
    color: #2d2d2d;
}
.text-blue,
.text-blue:focus{
    color: #163c70;
}
a.text-blue{
    border-bottom: 1px solid #4ab3e7;
}
a.text-blue:hover{
    color: #163c70;
}
.text-blue_light,
.text-blue_light:focus{
	color: #4e68b1;
}
.text-light{
	font-weight: 300;
}
.text-normal{
	font-weight: 400;
}
.text-semibold{
	font-weight: 600;
}
.text-bold,
strong,
b{
	font-weight: 700;
}
sub, sup {
	font-size: 70%;
}
.align-top{
    vertical-align: top;
}
.align-middle{
    vertical-align: middle;
}
.align-bottom{
    vertical-align: bottom;
}
.margin-top-small{
	margin-top: 5px;
}
.margin-bottom-small{
	margin-bottom: 5px;
}
.margin-top{
	margin-top: 10px;
}
.margin-bottom{
	margin-bottom: 10px;
}
.margin-top-medium{
	margin-top: 15px;
}
.margin-bottom-medium{
	margin-bottom: 15px;
}
.margin-top-large{
	margin-top: 40px;
}
.margin-bottom-large{
	margin-bottom: 40px;
}
.position-relative{
	position: relative;
}
.position-absolute{
	position: absolute;
}
/*Кнопки*/
.button{
    font-size: 15px;
	line-height: 42px;
    font-weight: 700;
	padding: 0 40px;
	display: inline-block;
	background: #4e68b2;
	color: #fff;
	text-align: center;
	border: none;
	cursor: pointer;
	outline: none;
    position: relative;
	border-radius: 4px;
	text-transform: uppercase;
	vertical-align: top;
	box-sizing: border-box;
    transition: all 0.3s ease;
}
.button-small{
	font-size: 10px;
	line-height: 26px;
	padding: 0 15px;
	font-weight: 400;
}
.button-large{
	line-height: 50px;
}
.button-request_call{
	font-size: 10px;
	line-height: 26px;
	padding-left: 27px;
	padding-right: 12px;
}
.button-search{
	height: 26px;
	width: 26px;
	min-width: 26px;
	padding: 0;
	margin-left: 3px;
	position: relative;
	z-index: 2;
}
.button-bordered{
    padding: 0;
    background: #fff;
    border: 3px solid #fff;
    box-shadow: 0 9px 13px 0 rgba(0,0,0,0.1);
}
.button-bordered span{
    background: #4e68b2;
    padding: 0 40px;
    display: inline-block;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    transition: all 0.2s ease;
}
.button-request_call:before,
.button-search:before{
	position: absolute;
	top: 50%;
    font-family: 'iconfont', serif;
	line-height: 1;
}
.button-request_call:before{
	content: "\e905";
	left: 10px;
	margin-top: -7px;
	font-size: 14px;
	transform: scale(-1, 1);
}
.button-search:before{
	content: "\e908";
	left: 50%;
	font-size: 12px;
	margin-top: -6px;
	margin-left: -6px;
}
.button:focus{
	color: #fff;
}
.button:hover{
	background: #90a7e7;
	color: #fff;
}
.button-bordered:hover span{
    background: #90a7e7;
}
.offcanvas_button{
	background: transparent;
	border: none;
	position: relative;
	padding: 10px;
	margin-right: -10px;
	width: 50px;
	outline: none;
	line-height: 1;
	cursor: pointer;
}
.offcanvas_button span{
	display: block;
	width: 100%;
	border-bottom: 3px solid #4e68b2;
}
.offcanvas_button span + span{
	margin-top: 5px;
}
.uk-offcanvas-bar{
	background: #4e68b2;
	padding-top: 50px;
}
.uk-search-offcanvas{
	padding: 0 15px;
}
.uk-search-offcanvas input{
	border: none;
	height: 26px;
	border-radius: 2px;
}
.uk-search-offcanvas .button{
	background: #90a7e7;
	margin-left: -2px;
}
.uk-nav-offcanvas a{
	color: #fff !important;
	padding-right: 20px;
}
.uk-nav-offcanvas a:focus,
.uk-nav-offcanvas>.uk-open>a,
html:not(.uk-touch) .uk-nav-offcanvas>li>a:focus{
	background: transparent;
}
html:not(.uk-touch) .uk-nav-offcanvas>li>a:hover {
	background: rgba(255, 255, 255, 0.3);
}
.uk-nav-offcanvas .uk-parent{
	position: relative;
}
.uk-nav-offcanvas .uk-parent:after{
	content: "\e904";
	position: absolute;
	top: 11px;
	right: 10px;
	font-family: 'iconfont', serif;
	color: #fff;
	transition: all 0.3s ease;
}
.uk-nav-offcanvas .uk-parent.uk-open:after{
	transform: rotate(-90deg);
}
.uk-nav-offcanvas .uk-nav-sub{
	padding-left: 35px;
}
.uk-nav-offcanvas .uk-nav-sub > li > a{
	padding-right: 20px;
}
.uk-nav-offcanvas .uk-nav-sub > li > a:hover{
	color: rgba(255,255,255, 0.6) !important;
}
hr{
	border-top: 1px solid #f4f4f4;
}
/*.background-cover{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}*/
/*Выделение*/
::-moz-selection { background: #4e68b1; color: #fff;}
::selection { background: #4e68b1; color: #fff;}
/*Формы*/
::-webkit-input-placeholder {color: rgba(47, 49, 52, 0.7); font-size: 12px; font-family: 'Ubuntu', sans-serif; opacity: 1; transition: 0.2s ease;}
::-moz-placeholder          {color: rgba(47, 49, 52, 0.7); font-size: 12px; font-family: 'Ubuntu', sans-serif; opacity: 1; transition: 0.2s ease;}
:-moz-placeholder           {color: rgba(47, 49, 52, 0.7); font-size: 12px; font-family: 'Ubuntu', sans-serif; opacity: 1; transition: 0.2s ease;}
:-ms-input-placeholder      {color: rgba(47, 49, 52, 0.7); font-size: 12px; font-family: 'Ubuntu', sans-serif; opacity: 1; transition: 0.2s ease;}
:focus::-webkit-input-placeholder {opacity: 0;}
:focus::-moz-placeholder          {opacity: 0;}
:focus:-moz-placeholder           {opacity: 0;}
:focus:-ms-input-placeholder      {opacity: 0;}
form input,
form textarea,
.form-input{
	height: 30px;
	line-height: 30px;
	box-sizing: border-box;
	outline: none;
	border: 1px solid #d7d7d7;
	border-radius: 2px;
	padding-left: 10px;
	width: 100%;
}
form textarea{
	height: 90px;
}
form input + input,
form input + textarea,
form textarea + input,
form button + input,
form input + button {
	margin-top: 15px;
}
.form-control-search{
	position: absolute;
	top: 0;
	right: 24px;
	width: 245px;
	z-index: 1;
	opacity: 1;
	transition: opacity 0.3s ease;
}
.form-hidden .form-control-search{
	z-index: -1;
	visibility: hidden;
	width: 0;
	opacity: 0;
}
.form-control-search input{
	height: 26px;
}
/*Модальные окна*/
.close{
	outline: none !important;
	position: absolute;
	top: 10px;
	right: 10px;
	color: #ff4800;
	cursor: pointer;
	font-size: 26px;
	opacity: 1;
	z-index: 2;
	transition: all 0.5s ease;
}
.close:hover{
	opacity: 1;
	transition: all 0.5s ease;
}
.uk-close,
.uk-close:hover,
.uk-close:focus{
	opacity: 1;
}
.uk-close{
	position: absolute;
	top: 7px;
	right: 7px;
	display: inline-block;
	padding: 5px;
}
.uk-close:after{
	content: "\e909";
	font-family: 'iconfont';
	color: #fff;
	line-height: 1;
	font-weight: 700;
	font-size: 16px;
}
/* ========================================================================
  Стили шапки / Header styles
======================================================================== */
.header{
	padding: 25px 0;
}
.uk-navbar{
	background: transparent;
}
.uk-navbar-nav > li{
	position: relative;
}
.uk-navbar-nav > li.uk-parent{
	padding-right: 10px;
}
.uk-navbar-nav > li.uk-parent:after{
	content: "\e904";
	position: absolute;
	top: 50%;
	right: -6px;
	margin-top: -6px;
	font-size: 13px;
	line-height: 1;
	font-family: 'iconfont';
	transform: rotate(-90deg);
}
.uk-navbar-nav a{
	font-family: 'Roboto', sans-serif !important;
}
.uk-navbar-nav > li > a,
.uk-navbar-nav > li.uk-open > a,
.uk-navbar-nav > li:hover > a,
.uk-navbar-nav > li > a:focus {
	color: #000;
	background: transparent;
}
.uk-navbar-nav > li > a{
	padding: 0;
	border-bottom: 2px solid transparent;
	font-size: 15px;
	line-height: 18px;
	height: auto;
	cursor: pointer !important;
	padding-top: 2px;
}
.uk-navbar-nav > li > a:hover,
.uk-navbar-nav > li.uk-active > a{
	background: transparent;
	color: #4e68b2;
	border-color: #4e68b2;
}
.uk-dropdown-navbar{
	background: #4e68b2;
	padding: 0;
}
.uk-nav-navbar > li + li{
	border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.uk-nav-navbar > li > a {
	color: #fff;
	padding: 10px 35px;
}
.uk-nav-navbar > li > a:hover{
	background: rgba(255, 255, 255, 0.3);
}
.uk-nav-navbar > li > a:focus{
	background: transparent;
}
/* ========================================================================
  Блок "Слайдер" / Slider block
======================================================================== */
.slider{
	padding-bottom: 10px;
}
.slider img{
    min-height: 500px;
}
.uk-overlay-fade {
    opacity: 1;
}

.slider-bottom_overlap .polygon-top{
	fill: #90a7e7;
}
.slider-bottom_overlap .polygon-bottom{
	fill: #fff;
}
.uk-dotnav-holder{
    left: 0;
    right: 0;
    bottom: 70px;
}
.uk-dotnav{
    list-style: none;
    padding: 0;
    margin: 0;
}
.uk-dotnav li + li{
    margin-left: 10px;
}
.uk-dotnav li{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: transparent;
    border: 3px solid #fff;
    border-radius: 100%;
    transition: all 0.2s ease;
    cursor: pointer;
    box-shadow: 0px 9px 13px 0px rgba(0,0,0,0.1);
}
.uk-dotnav li.uk-active,
.uk-dotnav li:hover{
    background: #4e68b2;
}
/* ========================================================================
  Блок "Каталог" / Catalog block
======================================================================== */
.catalog-block{
    padding: 60px 0 220px;
	background-image: url(../images/products-block-bg.jpg);
	background-size: auto 180px;
	background-position: left bottom;
	background-repeat: no-repeat;
}
.catalog-block-categories{
	padding: 0 20px;
}
.catalog-block-products_list{
	margin-top: 50px;
}
.catalog-block-products_list-slideset{
	z-index: 2;
}
.catalog-block-products_list-slideset li{

}
.catalog-block-products_list-item{
	margin-top: 40px;
	top: 0;
	left: 0;
	min-height: 360px;
	width: 285px;
	max-width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
}
.catalog-block-products_list-item-holder{
	padding: 20px 30px 0;
	transition: all 0.2s ease;
}
.catalog-block-products_list-item-holder.uk-hover{
	box-shadow: 0px 0px 16px 0px rgba(34,34,34,0.12);
	background: #fff;
}
.catalog-block-products_list-item-image{
	max-height: 295px;
	overflow: hidden;
}
.catalog-block-products_list-item-image img{
	min-height: 295px;
	max-height: 295px;
}
.catalog-block-products_list-item-name{
	max-width: 130px;
}
.catalog-block-products_list-item-additional{
	height: 0;
	visibility: hidden;
	opacity: 0;
	padding-bottom: 20px;
	transition: opacity 0.3s ease;
}
.catalog-block-products_list-item-additional.uk-hover{
	visibility: visible;
	opacity: 1;
	height: auto;
}
.catalog-block-products_list-item-params{
	border-top: 1px solid #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
	padding: 5px 0;
}
.uk-slideset-nav{
	position: absolute;
	top: 430px;
	left: 0;
	right: 0;
}
.uk-dotnav-simple li{
	border: none;
	background: rgba(78, 104, 177, 0.2);
	box-shadow: none;
}
/* ========================================================================
  Блок "Доставка" / Delivery block
======================================================================== */
.delivery-block{
	background-image: url(../images/delivery-block-bg.jpg);
	background-size: auto 100%;
	background-repeat: repeat-x;
}
.delivery-block-text{
	padding: 50px 0;
}
.delivery-block-image img{
	max-width: 100%;
}
/* ========================================================================
  Блок "Преимущества" (слайдер) / Advantages block
======================================================================== */
.advantages-block{
	padding: 60px 0 80px;
	overflow: hidden;
}
.advantages-block-slider{
	z-index: 2;
}
.advantages-block-slider .uk-slideshow{
	overflow: inherit;
}
.advantages-block-slider-left{
	padding-right: 50px;
	box-sizing: border-box;
	position: relative;
}
.advantages-block:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: inset 0px 120px 120px -120px rgba(131,131,131,1);
	z-index: 3;
	height: 125px;
}
.advantages-block-bg{
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.advantages-block-bg-right{
	padding-left: 95px;
	left: 0;
	top: -60px;
	bottom: -80px;
	right: -395px;
}
.advantages-block-bg-right:after{
	content: "";
	position: absolute;
	top: 0;
	left: -25px;
	background-image: url(../images/advantages-bg-middle.png);
	background-repeat: no-repeat;
	background-position: top right;
	width: 121px;
	height: 177px;
}
.advantages-block-bg-right-inner{
	background: #5a75bf;
	z-index: 2;
	position: relative;
}
.advantages-block-bg-right-triangle{
	position: absolute;
	fill: #5a75bf;
	top: -60px;
	bottom: -80px;
	left: -187px;
}
.advantages-block-bg-right-inner-bg{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 381px;
	background: url(../images/advantages-bg-right.png) no-repeat right bottom;
}
.advantages-block-slider .uk-dotnav-holder{
	bottom: -10px;
}
.uk-dotnav-holder-mobile{
	bottom: 25px !important;
	display: none;
}
.uk-dotnav-advantages{
	padding-right: 130px;
}
.advantages-block-slider-right{
	padding: 15px 0 20px 105px;
	/*height: 405px;*/
	z-index: 3;
	box-sizing: border-box;
}
.advantages-block-slider-right-image{
	right: -180px;
	bottom: -80px;
}
.slider-list{
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}
.slider-list li{
	padding-left: 45px;
	position: relative;
	font-size: 20px;
	line-height: 26px;
	color: #fff;
	font-weight: 700;
}
.slider-list li + li{
	margin-top: 10px;
}
.slider-list li:before{
	content: "\e906";
	position: absolute;
	top: 4px;
	left: 0;
	font-size: 24px;
	line-height: 1;
	font-weight: 400;
	font-family: 'iconfont';
}
/* ========================================================================
  Блок "Достоинства" / Dignity block
======================================================================== */
.dignity-block{
	padding: 70px 0 40px;
	background-image: url(../images/dignity-block-bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	box-shadow: inset 0px 120px 120px -120px rgba(131,131,131,1);
}
.dignity-block-title{
	margin-right: 20px;
}
.dignity-block-list{
	padding-top: 10px;
}
.dignity-block-list-item{
	padding: 0 10px;
}
.dignity-block-list-item-icon{
	position: relative;
	display: inline-block;
	color: rgba(77, 103, 176, 0.65);
	border: 2px solid #90a7e7;
	border-radius: 100%;
	width: 140px;
	height: 140px;
	background: #fff;
	transition: all 0.3s ease;
}
.dignity-block-list-item:hover .dignity-block-list-item-icon{
	background: #90a7e7;
	color: #fff;
}
.dignity-block-list-item-icon:after{
	position: absolute;
	top: 50%;
	left: 50%;
	line-height: 1;
	font-size: 64px;
	font-family: 'iconfont';
	margin: -32px 0 0 -32px;
}
.dignity-block-list-item-icon-one:after{
	content: "\e907";
}
.dignity-block-list-item-icon-two:after{
	content: "\e900";
}
.dignity-block-list-item-icon-three:after{
	content: "\e903";
}
.dignity-block-list-item-icon-four:after{
	content: "\e901";
}
.dignity-block-list-item-icon-five:after{
	content: "\e902";
}
.dignity-block-description{
	padding-top: 100px;
}
.dignity-block-description-text{
	color: #010101;
	line-height: 22px;
}
/* ========================================================================
  Футер / Footer
======================================================================== */
.footer-nav{
	background: rgba(238, 238, 238, 0.5);
	padding: 20px 0;
}
.footer-bottom{
	padding: 25px 0 10px;
}
.medialine-copyrate{
	text-align: right;
}
.medialine-copyrate a{
	border-bottom: 1px solid #4e68b1;
}
.medialine-copyrate a:hover{
	border-color: transparent;
}
/* ========================================================================
  Медиа запросы / Media queries
======================================================================== */
@media (min-width: 1500px){
	.slider-bottom_overlap{
		bottom: -30px;
	}
}
@media (min-width: 1220px){
	.uk-container {
		max-width: 1210px;
	}
	.uk-navbar{
		padding-right: 30px;
	}
	.offcanvas_button{
		display: none;
	}
	.slider-bottom_overlap{
		bottom: -40px;
	}
}
@media (min-width: 960px){
	.advantages-block-slider-grid,
	.advantages-block-slider-right-holder,
	.advantages-block-slider-left-holder,
	.advantages-block-slider-right,
	.advantages-block-slider-left{
		height: 100%;
	}
}
@media (max-width: 1519px){
	.advantages-block-slider-right-image{
		display: none;
	}
}
@media (max-width: 1219px){
	.header {
		padding: 15px 0;
	}
	.uk-navbar-holder{
		text-align: right;
	}
	.uk-navbar {
		display: none;
	}
	.uk-footer-nav-right,
	.uk-headerbar-right{
		display: flex;
		justify-content: center;
	}
	.uk-headerbar-right .uk-search{
		display: none;
	}
	.uk-headerbar-buttons{
		margin-left: 20px
	}
	.catalog-block-categories-button span{
		padding: 0 20px;
	}
	.advantages-block-bg-right-triangle {
		left: -136px;
	}
	.dignity-block-head {
		flex-wrap: wrap;
	}
}
@media (max-width: 983px){
	.advantages-block-bg-right-triangle {
		left: -133px;
	}
}
@media (max-width: 970px){
	.advantages-block-bg-right-triangle {
		left: -130px;
	}
}
@media (max-width: 959px){
	.uk-navbar{
		padding-left: 0;
	}
	.delivery-block-text{
		padding: 30px 0;
	}
	.advantages-block{
		padding-bottom: 0;
	}
	.advantages-block-bg-right:after,
	.advantages-block-bg-right-triangle{
		display: none;
	}
	.advantages-block-bg-right{
		padding-left: 0;
		left: 0;
		top: 0;
		bottom: 0;
		right: -35px;
	}
	.advantages-block-slider-text{
		padding-bottom: 50px;
	}
	.advantages-block-slider-right{
		padding: 30px 25px 45px 0px;
		width: 70%;
	}
	.advantages-block-slider-right-image {
		display: block;
		bottom: 0;
		right: -200px;
	}
	.advantages-block-slider-right-image img{
		max-height: 100%;
	}
	.uk-dotnav-holder{
		display: none;
	}
	.uk-dotnav-holder-mobile{
		display: block;
	}
	.uk-dotnav-advantages {
		padding-right: 0;
	}
	.dignity-block-list{
		flex-wrap: wrap;
		justify-content: center;
	}
	.dignity-block-list-item {
		min-width: 33.33%;
	}
}
@media (max-width: 899px){
	.catalog-block-categories{
		flex-wrap: wrap;
	}
	.catalog-block-categories{
		padding: 0 20px;
	}
}
@media (max-width: 767px){
	.header{
		padding: 7px 0;
	}
	.uk-headerbar-buttons{
		display: none;
	}
	.slider-title {
		font-size: 40px;
		line-height: 50px;
	}
	.catalog-block-categories{
		padding: 0;
	}
	.catalog-block-categories-button{
		width: 45%;
	}
	.catalog-block-categories-button:last-child{
		width: 100%;
	}
	.slider-bottom_overlap{
		bottom: 10px;
	}
	.catalog-block-products_list-item-holder{
		padding: 20px 15px 0;
	}
	.delivery-block-text{
		padding: 20px 0;
	}
	.delivery-block-image-holder{
		display: none;
	}
}
@media (max-width: 659px){
	.advantages-block-slider-right{
		width: 100%;
	}
	.advantages-block-slider-right-image {
		display: none;
	}
}
@media (max-width: 543px){
	.catalog-block-categories{
		justify-content: center;
	}
	.catalog-block-categories-button{
		width: 48%;
	}
	.catalog-block-categories-button span{
		padding: 0 20px;
	}
	.page-title-large{
		font-size: 32px;
		line-height: 44px;
	}
	.dignity-block-list-item {
		min-width: 50%;
	}
}
@media (max-width: 479px){
	.uk-headerbar-right,
	.uk-footer-nav-right{
		display: none;
	}
	.uk-overlay-panel{
		padding: 0;
	}
	.slider-title {
		font-size: 27px;
		line-height: 32px;
	}
	.catalog-block-categories-button{
		width: 100%;
	}
	.catalog-block-categories-button span{
		padding: 0 20px;
	}
	.catalog-block-products_list-item-holder {
		padding: 20px 30px 0;
	}
	.advantages-block-slider-right .button{
		width: 100%;
	}
	.advantages-block-slider-right .button span{
		padding: 0 20px;
	}
	.dignity-block-list-item {
		min-width: 100%;
	}
	.footer-bottom,
	.medialine-copyrate{
		text-align: center;
	}
}






















